@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

/* :root {
  --primary-color-1: #100a1c;
  --primary-color-2: #261226;
  --primary-color-3: #c97874;
  --primary-color-4: #261226;
  --accent-color: #6cacc5;
} */

html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;

  background: #100a1c;
  background-image: radial-gradient(
      50% 30% ellipse at center top,
      #201e40 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(60% 50% ellipse at center bottom, #261226 0%, #100a1c 100%);
  background-attachment: fixed;
  color: #6cacc5;
}

body {
  color: #6cacc5;
  text-align: center;
  padding: 5rem 0 2rem;
}
